<article>

  <h1>{{get.city.name}}</h1>
  <div class="frame">
    <header ng-repeat-start="forecast in days" ng-if="title[$index]" class="day-title">
      <h2>{{title[$index]}}</h2>
    </header>

    <section ng-repeat-end class="forecast-tile">

      <h3 class="hour-title">{{forecast.dt | secToMs | date:'ha'}}</h3>

      <div class="icon-box">
        <img ng-src="/img/weather/{{forecast.weather[0].icon}}.svg" />
        <span class="temp">{{forecast.main.temp | number: 0}}&deg;C</span>
      </div>
      <div class="wind-box">
        <img style="-webkit-transform:rotate({{forecast.wind.deg | number: 0}}deg);
                    -mox-transform:rotate({{forecast.wind.deg | number: 0}}deg);
                    transform:rotate({{forecast.wind.deg | number: 0}}deg);"
             src="/img/weather/arrow.svg" />
        <span class="tile-wind">{{forecast.wind.speed | number: 1}}m/s</span>
      </div>



    </section>
  </div>

  <small >Climacons by <a href="https://twitter.com/#!/adamwhitcroft">@adamwhitcroft</a>.</small>
</article>

