<article>

  <h1>{{get.city.name}}</h1>
  <div class="frame">

    <section ng-repeat="forecast in days" class="forecast-tile">

      <h3 class="hour-title">{{forecast.dt | secToMs | date:'dd MMM yyyy - ha'}}</h3>

      <div class="icon-box">
        <img ng-src="/assets/img/weather/{{forecast.weather[0].icon}}.svg" />
        <span class="temp">
          Min: {{forecast.temp.min | number: 0}}&deg;C
          Max: {{forecast.temp.max | number: 0}}&deg;C</span>
      </div>
      <div class="wind-box">
        <img style="-webkit-transform:rotate({{forecast.deg | number: 0}}deg);
                    -mox-transform:rotate({{forecast.deg | number: 0}}deg);
                    transform:rotate({{forecast.deg | number: 0}}deg);"
             src="/assets/img/weather/arrow.svg" />
        <span class="tile-wind">{{forecast.speed | number: 1}}m/s</span>
      </div>



    </section>
  </div>

  <small >Climacons by <a href="https://twitter.com/#!/adamwhitcroft">@adamwhitcroft</a>.</small>
</article>

