<article>

  <h1>{{get.Location.name}}</h1>
  <div class="frame">

    <section ng-repeat="forecast in days" class="forecast-tile">

      <h3 class="date-title">{{forecast.value | isoFix | date: "EEE dd MMM"}}</h3>

      <div class="day-box">
        <p>day time</p>
        <img ng-src="/assets/img/weather/{{forecast.Rep[0].W}}.svg" />
        <span class="temp">
          Feels Max: {{forecast.Rep[0].FDm | number: 0}}&deg;C</span>
        </div>
      <div class="night-box">
        <p>at night</p>
        <img ng-src="/assets/img/weather/{{forecast.Rep[1].W}}.svg" />
        <span class="temp">
          Feels Min: {{forecast.Rep[1].FNm | number: 0}}&deg;C
        </span>
        <span class="tile-wind">{{forecast.Rep[0].S | number: 0}}mph</span>
      </div>



    </section>
  </div>

  <small >Climacons by <a href="https://twitter.com/#!/adamwhitcroft">@adamwhitcroft</a>.</small>
</article>

